extends layout

block content
	.row.initial
		.col-xs-12
			include snipets/errors

			h1 
				a(href="#{restaurant.web}") #{restaurant.nombre}
			.col-xs-12
				.col-xs-4
					h3 Teléfono
				.col-xs-8
					a(href="tel:#{restaurant.telefono}") #{restaurant.telefono}

			.col-xs-12
				.col-xs-4
					h3 Email
				.col-xs-8
					a(href="mailto:#{restaurant.email}?subject=Hola #{restaurant.nombre} ") #{restaurant.email}
						

			.col-xs-12
				.col-xs-4
					h3 Tipo
				.col-xs-8
					| #{categoria.nombre}
			.col-xs-12
				.col-xs-4
					h3 Comuna
				.col-xs-8
					| #{comuna.nombre}
			.col-xs-12
				.col-xs-4
					h3 Dirección
				.col-xs-8
					| #{restaurant.direccion}
